.grid-view .summary {
    margin-bottom: 1em;
}

.grid-view h1 .summary {
    display: inline;
}

div.card footer.card-footer .pagination {
    display: inline-flex;
}

.card > .card-header {
    margin-bottom: 0 !important;
}

.main .container-fluid {
    padding: 0 15px;
}

.breadcrumb {
    margin-bottom: 15px;
}

#tabs-components-links .nav-link.active {
    background: #e4e7ea;
    border-bottom-color: #e4e7ea;
}

#tabs-components-content .tab-pane {
    padding: 0;
}

#tabs-components-content .tab-pane .table {
    border: none;
}

#tabs-components-content .tab-pane .table th {
    border-top: none;
}

#modal-include-components > div > div > div.modal-body {
    padding: 0;
}

div.user-assignment ul li.nav-item.active > a.nav-link.active {
    color: #20a8d8;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: #20a8d8;
}

i[data-action=favorite] {
    cursor: pointer;
}

#modal-help h1 {
    display: none;
}

.modal-lg {
    max-width: 1024px;
}

div[data-action='modal-include-components'] > .modal-dialog > .modal-content > .modal-body {
    padding: 0;
}

.help-block {
    color: red;
}

.img-fluid {
    width: 100%;
}

.card-footer .pagination {
    margin-bottom: 0;
}

#top-menu > li {
    padding-right: 1em;
}

.navbar {
    padding: 0 !important;
}

/*Fix brand icon in Chrome*/
.c-sidebar-brand-full,
.c-sidebar-brand-minimized {
    max-width: 100%;
}
